
@import url(https://fonts.googleapis.com/css?family=Questrial);

/* Layout
--------------------------------------------------------------------------- */
body           {
    background: #fff;
    color: #000305;
    font-size: 1em; /* Base font size: 14px */
    font-family: 'Questrial';
    text-align: left; 
    padding:0;
    margin:0;
}
.wrapper       {
    margin: 0 auto;
    padding: 10px;
    width: 950px;
}
.clear         {
    clear: both;
}
#twoVertical   {
    display: flex; 
}

/* Font
--------------------------------------------------------------------------- */
p           {
    line-height: 34px;
    margin-bottom: 20px;
    font-size: 1.4em;
}
h1          {
    font-weight: bold;
    color: #444;
    font-size: 30px;
    margin-bottom: 20px;
}
h2          {
    font-weight: 300;
    color: #444;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
h3          {
    font-size: 30px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
h4          {
    font-size: 24px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h5          {
    font-size: 15px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
}
strong      {
    font-weight: bold;
}
small       {
    font-size: 13px;
    color: #777;
    font-style: italic;
}

/* Header
--------------------------------------------------------------------------- */
header              {
    height: 130px;
    border-bottom: 30px solid #CD323A;
}
header h1           {
    float: left;
    margin-top: 55px;
    font-size: 34px;
}
header h1 .color    {
    color: #02b8dd;
}
header nav          {
    float: right;
}
header nav ul li    {
    float: left;
    display: inline-block;
    margin-top: 50px;
}
header nav ul li a  {
    color: #444;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-right: 20px;
}

/* Default Page
--------------------------------------------------------------------------- */
#primary-content        {
    background-color: #f8fafa;
    padding: 20px 0 30px 0;
    width: 100%;
    text-align: center;
}
#primary-content h2     {
    font-weight: 300;
    color: #444;
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
}
#primary-content h3     {
    display: block;
    margin: 0 auto 20px auto;
    width: 400px;
    border-bottom: 1px solid #02b8dd;
    padding: 0 0 20px 0;
}
#primary-content a img  {
    margin: 20px 0;
}

/* index.html
--------------------------------------------------------------------------- */
#home-image    {
    height: 450px;
    padding-top: 1px;
    background: #e8eced url('../res/homeImg.jpg') no-repeat center;
}
#home-image h2 {
    margin: 180px 0 40px 0;
    color: white;
}

/* aboutClasses.html
--------------------------------------------------------------------------- */
#about-image             {
    height: 400px;
    background: #e8eced url('../res/threadPano.png  ') no-repeat center ;
}
#about-image .wrapper    { 
    width: 100%;
}
#about-content           {
}
#about-content h2        {
    font-weight: 300;
    color: #444;
    font-size: 42px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
}

/* contactUs.html
--------------------------------------------------------------------------- */
.contact .wrapper        {
    width: 100%;
    background-color: #e8eced;
}
.contact iframe          {
    width: 50%;
    height: 500px;
    margin: 0 auto;
    padding: 0;
    border: 0;
}
.contact article         {
    width: 50%;
    padding-left: 30px;
}
#contact-content         {
    background-color: #f8fafa;
    padding: 0;
    text-align: left;
}
#contact-content h2      {
    font-size: 28px;
    font-weight: bolder;
    text-align: left;
    text-justify: distribute;
    padding: 15px 0 15px 0;
    margin: 0;
}
#contact-content h3      {
    width: 250px;
    font-size: 26px;
    font-weight: normal;
    text-align: left;
    text-transform: capitalize;
    font-weight: 300;
    border-bottom: 1px solid #CD323A;
}
#contact-content p       {
    font-size: 18px;
    text-align: left;
    line-height: 1.4em;
}

/* sewingClasses.html
--------------------------------------------------------------------------- */
#sewing-image             {
    height: 400px;
    background: #e8eced url('../res/needlePano.png  ') no-repeat center ;
}
#sewing-image .wrapper    { 
    width: 100%;
}
#sewing-content article   {
    margin: 0 15px 0 15px;
}
#sewing-content h2        {
    font-weight: 300;
    color: #444;
    font-size: 42px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
}

/* pianoCovers.html
--------------------------------------------------------------------------- */
#covers-image             {
    height: 400px;
    background: #e8eced url('../res/pianoPano.png') no-repeat center ;
}
#covers-image .wrapper    { 
    width: 100%;
}
#covers-content           {
}
#covers-content h2        {
    font-weight: 300;
    color: #444;
    font-size: 42px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
}

/* Footer
--------------------------------------------------------------------------- */
footer              {
    background-color:  #CD323A;
    padding: 0 0;
    font-size: 1.1em;
    font-family: Questrial;
}
footer h1           { 
    font-size: 1em; 
    color: black; 
    text-transform: uppercase; 
    margin: 0; 
    margin: 25px 0 10px 0; 
}
#footer-info        { 
    width: 380px; 
    float: left; 
}
#footer-info ul     {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff;
}
#footer-info ul li  {
    margin: 8px 0;
}
#footer-links       {
    width: 550px;
    float: right;
    text-align: center;
}
#footer-links ul    {
    text-align: left;
    font-family: Questrial;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 135px;
    float: left;
    margin-left: 20px;
}
#footer-links ul li {
    margin: 8px 0;
}
#footer-links a     {
    font-family: Questrial;
    padding: 0px;
    margin: 0px;
    color: white;
}
#footer-end         {
    width: 100%;
    float: left;
    text-align: center;
}
#footer-end h2      { 
    font-size: 1em; 
    font-weight: bold; 
    color: black; 
    text-transform: uppercase; 
    margin: 35px 0 5px 0; 
}